@font-face {
    font-family: 'RobotoSlab';
    src: url('assets/fonts/RobotoSlab-VariableFont_wght.ttf')  format('truetype');
  }

@font-face {
    font-family: 'IndieFlower';
    src: url('assets/fonts/IndieFlower-Regular.ttf')  format('truetype');
  }

body
{
  margin: 0;
}

:root
{
  --back-color: #242323;
  --primary-color: #F32424;
  --text-color:white;
}  

body
{
    background: var(--back-color);
    color: var(--text-color);
    font-family: 'RobotoSlab', sans-serif ;
}

.first-color
{
    color: var(--primary-color);
    font-size: larger;
}

.logo
{
    font-family: 'IndieFlower', sans-serif;
    text-decoration: none;
    color: var(--text-color);
}

.clickable{
  cursor: pointer;
}