@font-face {
    font-family: 'RobotoSlab';
    src: url('assets/fonts/RobotoSlab-VariableFont_wght.ttf')  format('truetype');
  }

@font-face {
    font-family: 'IndieFlower';
    src: url('assets/fonts/IndieFlower-Regular.ttf')  format('truetype');
  }

*
{
  margin: 0;
  padding: 0;
}

:root
{
  --back-color: #242323;
  --primary-color: #F32424;
  --text-color:white;
  --primary-hover: #aa2020;
  --secondary-hover:rgb(218, 207, 207);
  --nav-height:8vh;
  --nav-min-height:40px;
}  

body
{
    background: var(--back-color);
    color: var(--text-color);
    font-family: 'RobotoSlab', sans-serif ;
}

.first-color
{
    color: var(--primary-color);
}

.larger
{
  font-size: larger;
}

.logo
{
    font-family: 'IndieFlower', sans-serif;
}

.clickable{
  cursor: pointer;
}

.without-decoration
{
  text-decoration: none;
    color: var(--text-color);
}