@font-face {
    font-family: 'RobotoSlab';
    src: url('assets/fonts/RobotoSlab-Thin.ttf')  format('truetype');
  }

@font-face {
    font-family: 'IndieFlower';
    src: url('assets/fonts/IndieFlower-Regular.ttf')  format('truetype');
  }
  

body
{
    background: #242323;
    color: white;
    font-family: 'RobotoSlab', sans-serif ;
}

.first-color
{
    color: #F32424;
    font-size: larger;
}

.logo
{
    font-family: 'IndieFlower', sans-serif;
}