.p0
{
    padding: 0;
}

.p1
{
    padding: 0.5rem;
}

.p2
{
    padding: 1rem;
}

.p3
{
    padding: 1.5rem;
}

.p0-top-bottom
{
    padding-top: 0;
    padding-bottom: 0;
}

.p1-top-bottom
{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.m0
{
    margin: 0;
}

.center90
{
    width: 90%;
    margin: 0 auto;
}